$color: blue;

body{
  font-family: impact;
  color: $color;
}
a{
  text-decoration: none;
  color: $color;
}
div p{
  color: black;
  font-family: monospace;
}
p::selection{
  background-color: darkgray;
  color: white;
}
@media (max-width:500px){
  p{
    color: red;
  }
}
