$color: blue;
$font: monospace;

body{
  font-family: impact;
  color: $color;
}
a{
  text-decoration: none;
  color: $color;
}
@media (min-width:500px){
  div p{
    color: black;
    font-family: $font;
  }
}
p::selection{
  background-color: darkgray;
  color: white;
}
@media (max-width:499px){
  p{
    color: red;
    font-family: $font;
  }
}
.alert{
  transition: visibility 2s linear;
  margin-left: 25vw;
  margin-right: 25vw;
  position: fixed;
  margin-top: 3vh;
}
.body{
  position: absolute;
}
